<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="rvss_sim">
    <xacro:property name="camera_pose_x" value="0" />
	<xacro:property name="camera_pose_y" value="0" />
	<xacro:property name="camera_pose_z" value="2" />
	<xacro:property name="camera_roll" value="0" />
	<xacro:property name="camera_pitch" value="0" />
	<xacro:property name="camera_yaw" value="0" />
	<xacro:property name="pi" value="3.1415926535897931"/>

	<xacro:include filename="$(find data_collector)/models/pibot_cam.gazebo.xacro" />

	<!-- ##################################
		 			Camera Setup
	################################## -->

	<link name="world"/>
	<joint name="camera_joint" type="fixed">
		<axis xyz="1 0 0" />
		<origin xyz="${camera_pose_x} ${camera_pose_y} ${camera_pose_z}" rpy="${camera_roll} ${camera_pitch} ${camera_yaw}"/>
		<parent link="world"/>
		<child link="pibot_cam_link"/>
	</joint>

	<link name="pibot_cam_link">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<box size="0.02 0.05 0.02"/>
			</geometry>
		</visual>
		<inertial>
			<mass value="1" />
			<origin xyz="0 0 0" rpy="0 0 0"/>
      		<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
		</inertial>
	</link>
</robot>
