/build
/devel
*/dataset
/.vscode
/system_output
*.tar
*.pyc
.idea
*/__pycache__/
network/scripts/weights
.ipynb_checkpoints/
random_texture/
src/data_collector/dataset
*.DS_Store
/test
/record
/workshop_output
