/build
/devel
/.vscode
*.tar
*.pyc
.idea
*/__pycache__/
.ipynb_checkpoints/
random_texture/
*.DS_Store
/network/scripts/dataset/*
/network/scripts/weights/fruit_test/model.pth
/src/data_collector/dataset/*
