  <?xml version="1.0"?>
  <model>
    <name>PenguinPi</name>
    <version>1.0</version>
    <sdf version='1.4'>urdf/penguinpi.sdf</sdf>
    <author>
      <name>Cirrus Robotics</name>
      <email>info@cirrusrobotics.com.au</email>
    </author>
    <description>
      Penguin Pi
    </description>
  </model>