<?xml version="1.0"?>
<launch>
  <arg name="paused" default="false"/>
  <arg name="gui" default="false"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find data_collector)/models/empty.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <param name="pibot_cam" command="$(find xacro)/xacro $(find data_collector)/models/photo_studio.urdf.xacro" />
  <node name="spawn_cam" pkg="gazebo_ros" type="spawn_model" args="-urdf -param pibot_cam -model robot" respawn="false" output="screen" />
</launch>
