<robot name="banana">
  <link name="banana">
    <inertial>
      <origin xyz="-0.005 0 0" />
      <mass value="0.6" />
      <inertia  ixx="0.001445" ixy="0.0"  ixz="0.0"  iyy="0.0001"  iyz="0.0"  izz="0.001525" />
    </inertial>
    <visual>
      <origin xyz="0.0 0 0.0"/>
      <geometry>
        <mesh filename="package://penguinpi_gazebo/models/banana/textured.dae"/>
      </geometry>
    </visual>
  </link>
</robot>
